table {
    font-family: sans-serif;
    border-collapse: collapse;
    border: 1px solid #dddddd;
    width: 100%;
    background-color: pin;

}

th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

}

td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;

}

#row1 {
    color: white;
}

#row4 {
    background-color: deeppink;
    color: white;

}

.one {
    background-color: purple;

}

.two {
    background-color: green;

}

.three {
    background-color: blue;

}

.four {
    background-color: red;

}

.seven {
    background-color: black;
    color: yellow;
    /*text-align: center;*/

}